$your-row-background: #d9edf7;
$media-small: 768px;
$media-medium: 992px;
$media-large: 1200px;

.col-sm-8, .col-sm-4 {
  padding-left: 30px;
  padding-right: 30px;
}

#status-box {
  text-align: center;
}

#ocean-box {
  #warning-alert {
    display: none;
    position: relative;
    top: 50px;
    margin: 0 auto;
    text-align: center;
  }
  #canvas-container {
  }
  #costs-box {
    position: relative;
    div {
      text-align: center;
      display: inline-block;
    }
  }
}

#control-box {
  .col-lg-4 {
    padding-left: 5px;
    padding-right: 5px;
    button {
      width: 100%;
      margin-bottom: 5px;
      font-weight: bold;
    }
  }
}

#fishers-box {
  table {
    thead {
      th {
        white-space: nowrap;
        vertical-align: top;
        img {
          float: left;
          margin-right: 5px;
        }
        p {
          overflow: hidden;
        }
      }
    }
    tbody {
      tr {
        display: none;
        font-weight: bold;
        td {
          img {
            float: left;
            margin-right: 5px;
          }
          p {
            overflow: hidden;
          }
        }
      }
      tr#f0 {
        background-color: $your-row-background;
        td {
          background-color: $your-row-background;
        }
      }
    }
  }
}

.modal {
  button {
    display:block;
    margin: 0 auto;
  }
  .modal-footer {
    margin-top: 0;
  }
}

@media (min-width: $media-small) {
  .col-sm-4 {
    margin-top: 20px;
  }
}

@media (min-width: $media-medium) {

}

@media (min-width: $media-large) {

}
