<!DOCTYPE html>
<html>
<head>
    <title>Fish - Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel='stylesheet' href='/bower/bootstrap/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/public/css/signin.css">

    <script src='/bower/jquery/jquery.min.js'></script>
    <script scr='/bower/bootstrap/dist/js/bootstrap.min.js'></script>
    <script type="text/javascript" src="/public/js/admin.js"></script>

</head>

<body>
    <div class='container'>
        <form class='form-signin' role='form' action='mainadmin.html'>
            <h2 class='form-signin-heading'>
                Administration Panel
            </h2>

            <input id='username' class="form-control" type="text" autofocus="" required="" placeholder="Username"></input>
            <input id='password' class="form-control" type="password" required="" placeholder="Password"></input>

            <button id='login' class='btn btn-lg btn-primary btn-block' type='submit'>
                Sign in
            </button>

        </form>
    </div>
</form>
</body>
</html>
