<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/css/base.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/public/js/admin.js"></script>

    <title>FISH Administration</title>
</head>

<body>
<form action="mainadmin.html">
    <fieldset>
        <legend>
            Log in to the Fish administration panel
        </legend>
        <label for="uid" class="left-side-label">User ID: </label>
        <input type="text" id="uid" name="uid" />

        <button type="button" id="login">Login</button>
        <br>
        <label class="status-message"></label>
    </fieldset>
</form>
</body>
</html>
