<!DOCTYPE html>
<html>
<head>
    <title>Fish - Administration Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    
    <link rel='stylesheet' href='/bower/bootstrap/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/public/css/grid.css'>

    <script src='/bower/jquery/jquery.min.js'></script>
    <script scr='/bower/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='/bower/moment/min/moment.min.js'></script>
    <script src='/bower/underscore/underscore-min.js'></script>
    <script type='text/javascript' src='/public/js/dashboard.js'></script>
</head>

<body>
    <div class='container'>
        <div class='page-header'>
            <h1>Dashboard</h1>
        </div>

        <h3>Ongoing simulations</h3>
        <p>No simulations are currently being executed.</p>

        <hr>

        <h3>Simulation types being tested</h3>
        <div id='sim-types-test'>
            <div id='sim-types-test-loading'>
                <p><em>Loading...</em></p>
            </div>
            <div id='sim-types-test-none' class='collapse'>
                <p>No simulations are currently being tested.</p>
            </div>
            <div id='sim-types-test-table' class='collapse table-responsive'>
                <table class='table table-bordered table-hover'>
                    <thead>
                        <th>Name</th>
                        <th>Description</th>
                    </thead>
                    <tbody id='sim-types-test-table-rows'>
                    </tbody>
                </table>
            </div>
        </div>
        <button id='new-sim-type' class='btn btn-primary' type='submit'>
            New Simulation Type
        </button>

        <hr>

        <h3>Active simulation types</h3>
        <div id='sim-types-active'>
            <div id='sim-types-active-loading'>
                <p><em>Loading...</em></p>
            </div>
            <div id='sim-types-active-none' class='collapse'>
                <p>No simulations are currently active.</p>
            </div>
            <div id='sim-types-active-table' class='collapse table-responsive'>
                <p>These are accessible to your participants.</p>
                <table class='table table-bordered table-hover'>
                    <thead>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>Completed</th>
                        <th>Interrupted</th>
                    </thead>
                    <tbody id='sim-types-active-table-rows'>
                    </tbody>
                </table>
            </div>
        </div>

        <hr>

        <h3>Archived simulations</h3>
        <div id='sim-types-archived'>
            <div id='sim-types-archived-loading'>
                <p><em>Loading...</em></p>
            </div>
            <div id='sim-types-archived-none' class='collapse'>
                <p>No simulations are currently archived.</p>
            </div>
            <div id='sim-types-archived-table' class='collapse table-responsive'>
                <p>To download results, re-activate, or clone these
                simulation types, click on their corresponding row.</p>
                <table class='table table-bordered table-hover'>
                    <thead>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>Completed</th>
                        <th>Interrupted</th>
                    </thead>
                    <tbody id='sim-types-archived-table-rows'>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
</body>
</html>
