<!DOCTYPE html>
<html>
<head>
    <title>Fish - Administration Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    
    <link rel='stylesheet' href='/bower/bootstrap/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/public/css/grid.css'>

    <script src='/bower/jquery/jquery.min.js'></script>
    <script scr='/bower/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='/bower/moment/min/moment.min.js'></script>
    <script src='/bower/underscore/underscore-min.js'></script>
    <script type='text/javascript' src='/public/js/dashboard.js'></script>
</head>

<body>
    <div class='container'>
        <div class='page-header'>
            <h1>Dashboard</h1>
        </div>

        <h3>Ongoing microworld runs</h3>
        <p>No microworlds are currently being executed.</p>

        <hr>

        <h3>Microworlds being tested</h3>
        <div id='microworlds-test'>
            <div id='microworlds-test-loading'>
                <p><em>Loading...</em></p>
            </div>
            <div id='microworlds-test-none' class='collapse'>
                <p>No microworlds are currently being tested.</p>
            </div>
            <div id='microworlds-test-table' class='collapse table-responsive'>
                <p>These are accesible, but their results are not stored and their parameters can still be changed. To activate them or modify their parameters, click on their corresponding row.</p>
                <table class='table table-bordered table-hover'>
                    <thead>
                        <th>Name</th>
                        <th>Experiment Code</th>
                        <th>Description</th>
                    </thead>
                    <tbody id='microworlds-test-table-rows'>
                    </tbody>
                </table>
            </div>
        </div>
        <button id='new-microworld' class='btn btn-primary' type='submit' onclick='location.href="./new/microworld"'>
            New Microworld
        </button>

        <hr>

        <h3>Active microworlds</h3>
        <div id='microworlds-active'>
            <div id='microworlds-active-loading'>
                <p><em>Loading...</em></p>
            </div>
            <div id='microworlds-active-none' class='collapse'>
                <p>No microworlds are currently active.</p>
            </div>
            <div id='microworlds-active-table' class='collapse table-responsive'>
                <p>These are accessible to your participants.</p>
                <table class='table table-bordered table-hover'>
                    <thead>
                        <th>Name</th>
                        <th>Experiment Code</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>Completed</th>
                        <th>Interrupted</th>
                    </thead>
                    <tbody id='microworlds-active-table-rows'>
                    </tbody>
                </table>
            </div>
        </div>

        <hr>

        <h3>Archived microworlds</h3>
        <div id='microworlds-archived'>
            <div id='microworlds-archived-loading'>
                <p><em>Loading...</em></p>
            </div>
            <div id='microworlds-archived-none' class='collapse'>
                <p>No microworlds are currently archived.</p>
            </div>
            <div id='microworlds-archived-table' class='collapse table-responsive'>
                <p>To download results, re-activate, or clone these
                microworlds, click on their corresponding row.</p>
                <table class='table table-bordered table-hover'>
                    <thead>
                        <th>Name</th>
                        <th>Experiment Code</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>Completed</th>
                        <th>Interrupted</th>
                    </thead>
                    <tbody id='microworlds-archived-table-rows'>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
</body>
</html>
