<!DOCTYPE html>
<html>
<head>
    <title>Fish</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    
    <link rel='stylesheet' href='/bower/bootstrap/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/public/css/fish.css'>

    <script src='/bower/jquery/jquery.min.js'></script>
    <script src='/bower/purl/purl.js'></script>
    <script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src='/bower/moment/min/moment.min.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/bower/underscore/underscore-min.js'></script>
    <script src='/public/js/localization.js'></script>
    <script src='/public/js/fish.js'></script>
</head>

<body>
<div class='col-md-7'>
    <div class='row'>
        <div id='status-box' class='col-md-6'>
            <label class='status-label' id='status-label'></label>
        </div>
        <div id='warning-box' class='col-md-6'>
            <label class='warning-label' id='warning-label'></label>
        </div>
    </div>

    <div class='row'>
        <div id='ocean-box'>
            <canvas id='ocean-canvas' width='700' height='460'></canvas>
        </div>
    </div>

    <div class='row'>
        <div id='control-box' class='col-md-8 btn-toolbar'>
            <button id='to-sea' type='button' class='btn btn-success'>Go to sea</button>
            <button id='attempt-fish' type='button' class='btn btn-info'>Attempt to fish</button>
            <button id='return' type='button' class='btn btn-primary'>Return to port</button>
            <button id='pause' type='button' class='btn'>Pause</button>
        </div>

        <div id='costs-box' class='col-md-4'>
            <label class='costs-label' id='revenue-fish'></label><br>
            <label class='costs-label' id='cost-departure'></label><br>
            <label class='costs-label' id='cost-second'></label><br>
            <label class='costs-label' id='cost-cast'></label>
        </div>
    </div>
</div>

<div class='col-md-5'>
    <div class='row'>
        <div id='fishers-box'>
            <table class='table table-bordered table-hover'>
                <thead>
                    <th id='fisher-header'></th>
                    <th><img src='/public/img/fishy.jpg' width='20' height='20'><label id='fish-season-header'></label></th>
                    <th><img src='/public/img/fishy.jpg' width='20' height='20'><label id='fish-total-header'></label></th>
                    <th id='profit-season-header'></th>
                    <th id='profit-total-header'></th>
                </thead>
                <tbody id='fisher-table-rows'>
                    <tr><td><img src='/public/img/bullet_white.png' id='f0-status'><label class='fisher-label' id='f0-name'></label></td>
                    <td class='fisher-label' id='f0-fish-season'></td>
                    <td class='fisher-label' id='f0-fish-total'></td>
                    <td class='fisher-label' id='f0-profit-season'></td>
                    <td class='fisher-label' id='f0-profit-total'></td></tr>

                    <tr id='f1' style='display: none' style='display: none'><td><img src='/public/img/bullet_white.png' id='f1-status'><label class='fisher-label' id='f1-name'></label></td>
                    <td class='fisher-label' id='f1-fish-season'></td>
                    <td class='fisher-label' id='f1-fish-total'></td>
                    <td class='fisher-label' id='f1-profit-season'></td>
                    <td class='fisher-label' id='f1-profit-total'></td></tr>

                    <tr id='f2' style='display: none'><td><img src='/public/img/bullet_white.png' id='f2-status'><label class='fisher-label' id='f2-name'></label></td>
                    <td class='fisher-label' id='f2-fish-season'></td>
                    <td class='fisher-label' id='f2-fish-total'></td>
                    <td class='fisher-label' id='f2-profit-season'></td>
                    <td class='fisher-label' id='f2-profit-total'></td></tr>

                    <tr id='f3' style='display: none'><td><img src='/public/img/bullet_white.png' id='f3-status'><label class='fisher-label' id='f3-name'></label></td>
                    <td class='fisher-label' id='f3-fish-season'></td>
                    <td class='fisher-label' id='f3-fish-total'></td>
                    <td class='fisher-label' id='f3-profit-season'></td>
                    <td class='fisher-label' id='f3-profit-total'></td></tr>

                    <tr id='f4' style='display: none'><td><img src='/public/img/bullet_white.png' id='f4-status'><label class='fisher-label' id='f4-name'></label></td>
                    <td class='fisher-label' id='f4-fish-season'></td>
                    <td class='fisher-label' id='f4-fish-total'></td>
                    <td class='fisher-label' id='f4-profit-season'></td>
                    <td class='fisher-label' id='f4-profit-total'></td></tr>

                    <tr id='f5' style='display: none'><td><img src='/public/img/bullet_white.png' id='f5-status'><label class='fisher-label' id='f5-name'></label></td>
                    <td class='fisher-label' id='f5-fish-season'></td>
                    <td class='fisher-label' id='f5-fish-total'></td>
                    <td class='fisher-label' id='f5-profit-season'></td>
                    <td class='fisher-label' id='f5-profit-total'></td></tr>

                    <tr id='f6' style='display: none'><td><img src='/public/img/bullet_white.png' id='f6-status'><label class='fisher-label' id='f6-name'></label></td>
                    <td class='fisher-label' id='f6-fish-season'></td>
                    <td class='fisher-label' id='f6-fish-total'></td>
                    <td class='fisher-label' id='f6-profit-season'></td>
                    <td class='fisher-label' id='f6-profit-total'></td></tr>

                    <tr id='f7' style='display: none'><td><img src='/public/img/bullet_white.png' id='f7-status'><label class='fisher-label' id='f7-name'></label></td>
                    <td class='fisher-label' id='f7-fish-season'></td>
                    <td class='fisher-label' id='f7-fish-total'></td>
                    <td class='fisher-label' id='f7-profit-season'></td>
                    <td class='fisher-label' id='f7-profit-total'></td></tr>

                    <tr id='f8' style='display: none'><td><img src='/public/img/bullet_white.png' id='f8-status'><label class='fisher-label' id='f8-name'></label></td>
                    <td class='fisher-label' id='f8-fish-season'></td>
                    <td class='fisher-label' id='f8-fish-total'></td>
                    <td class='fisher-label' id='f8-profit-season'></td>
                    <td class='fisher-label' id='f8-profit-total'></td></tr>

                    <tr id='f9' style='display: none'><td><img src='/public/img/bullet_white.png' id='f9-status'><label class='fisher-label' id='f9-name'></label></td>
                    <td class='fisher-label' id='f9-fish-season'></td>
                    <td class='fisher-label' id='f9-fish-total'></td>
                    <td class='fisher-label' id='f9-profit-season'></td>
                    <td class='fisher-label' id='f9-profit-total'></td></tr>

                    <tr id='f10' style='display: none'><td><img src='/public/img/bullet_white.png' id='f10-status'><label class='fisher-label' id='f10-name'></label></td>
                    <td class='fisher-label' id='f10-fish-season'></td>
                    <td class='fisher-label' id='f10-fish-total'></td>
                    <td class='fisher-label' id='f10-profit-season'></td>
                    <td class='fisher-label' id='f10-profit-total'></td></tr>

                    <tr id='f11' style='display: none'><td><img src='/public/img/bullet_white.png' id='f11-status'><label class='fisher-label' id='f11-name'></label></td>
                    <td class='fisher-label' id='f11-fish-season'></td>
                    <td class='fisher-label' id='f11-fish-total'></td>
                    <td class='fisher-label' id='f11-profit-season'></td>
                    <td class='fisher-label' id='f11-profit-total'></td></tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

    <div class='row'>
        <div id='rules-modal' class='modal fade' role='dialog' aria-hidden='true'>
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <div id='rules-text' class='modal-body'>Preparation text
                    </div>
                    <div class='modal-footer'>
                        <button id='read-rules' class='btn btn-primary' data-dismiss='modal' aria-hidden='true'></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='row'>
        <div id='over-modal' class='modal fade' role='dialog' aria-hidden='true'>
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <div id='over-text' class='modal-body'>Simulation over text</div>
                    <div class='modal-footer'>
                        <buttion id='finished' class='btn btn-primary' data-dismiss='modal' aria-hidden='true'>OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
