<!DOCTYPE html>
<html>
<head>
    <title>Fish</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    
    <link rel='stylesheet' href='/bower/bootstrap/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/public/css/grid.css'>

    <script src='/bower/jquery/jquery.min.js'></script>
    <script src='/bower/purl/purl.js'></script>
    <script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src='/bower/moment/min/moment.min.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/bower/underscore/underscore-min.js'></script>
    <script src='/public/js/localization.js'></script>
    <script src='/public/js/fish.js'></script>
</head>

<body>
    <div class='row'>
        <div id='status-box' class='col-md-4'>
            <label class='status-label' id='status-label'></label>
        </div>
        <div id='warning-box' class='col-md-4'>
            <label class='warning-label' id='warning-label'></label>
        </div>
    </div>

    <div class='row'>
        <div id='ocean-box' class='col-md-8'>
            <canvas id='ocean-canvas' width='700' height='460'></canvas>
        </div>
        <div id='info-box' class='col-md-4'>
            <label class='info-label'>Some stuff</label>
        </div>
    </div>

    <div class='row'>
        <div id='control-box' class='col-md-12 btn-toolbar'>
            <button id='to-sea' type='button' class='btn btn-success'>Go to sea</button>
            <button id='attempt-fish' type='button' class='btn btn-info'>Attempt to fish</button>
            <button id='return' type='button' class='btn btn-primary'>Return to port</button>
            <button id='pause' type='button' class='btn'>Pause</button>

        </div>
    </div>

    <div class='row'>
        <div id='costs-box'>
            <label class='costs-label'>Some costs</label>
        </div>
    </div>

    <div class='row'>
        <div id='rules-modal' class='modal fade' role='dialog' aria-hidden='true'>
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <div id='rules-text' class='modal-body'>Preparation text
                    </div>
                    <div class='modal-footer'>
                        <button id='read-rules' class='btn btn-primary' data-dismiss='modal' aria-hidden='true'></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
