<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='/bower/bootstrap/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/public/css/signin.css">

    <script src='/bower/jquery/jquery.min.js'></script>
    <script src='/bower/purl/purl.js'></script>
    <script src='/bower/bootstrap/dist/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='/public/js/localization.js'></script>
    <script type="text/javascript" src="/public/js/participant-access.js"></script>
</head>

<body>
    <div class='container'>
        <form class='form-signin' role='form'>
            <h3 class='form-signin-heading'></h2>

            <input id='code' class="form-control" type="text" autofocus="" required="" placeholder=""></input>
            <input id='pid' class="form-control" type="text" required="" placeholder=""></input>

            <button id='login' class='btn btn-lg btn-primary btn-block' type='submit'></button>
        </form>
    </div>
</form>
</body>
</html>
