<!DOCTYPE html>
<html>
<head>
    <title>Fish - New Simulation Type</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <link rel='stylesheet' href='/bower/bootstrap/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/public/css/grid.css'>

    <script src='/bower/jquery/jquery.min.js'></script>
    <script scr='/bower/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='/bower/moment/min/moment.min.js'></script>
    <script src='/bower/underscore/underscore-min.js'></script>
    <script type='text/javascript' src='/public/js/sim-type.js'></script>
</head>

<body>
    <div class='container'>
        <div class='page-header'>
            <h1 id='sim-type-header'>New Simulation Type</h1>
        </div>

        <div class='panel panel-info'>
            <div id='sim-type-panel-title' class='panel-heading'>
                You are creating a new simulation type
            </div>

            <div id='sim-type-panel-body' class='panel-body'>
                After saving your changes,
                this simulation type will be available for testing.

                You can edit the simulation's parameters after saving.
            </div>
        </div>
    </div>
</body>
</html>
