doctype html
html
  head
    title Fish - Administration Dashboard
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/public/css/grid.css')
    link(rel='stylesheet', href='/public/css/dashboard.css')
    script(src='/bower/jquery/jquery.min.js')
    script(src='/bower/bootstrap/dist/js/bootstrap.min.js').
    script(src='/bower/moment/min/moment.min.js')
    script(src='/bower/underscore/underscore-min.js')
  body
    .container
      .page-header
        h1 Superuser Dashboard
        p
          em Hello superuser!
