<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/css/base.css">
    <script type="text/javascript" src="/public/js/localization.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/purl.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/public/js/welcome.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>

<body>
<form action="fish">
    <fieldset>
        <legend id="welcome"></legend>
        <br>
        <div id="instructions"></div>
        <br><br>
        <label id="gid_label" for="gid" class="left-side-label"></label>
        <input type="text" name="gid" id="gid" autofocus/>
        <br>
        <label id="pid_label" for="pid" class="left-side-label"></label>
        <input type="text" name="pid" id="pid"/>
        <br><br>
        <button type="button" id="login"></button>
        <br>
        <label id="status_message" class="status-message"></label>
    </fieldset>
</form>
</body>
</html>
