legend {
    text-align: center;
    font-size: 16pt;
}

fieldset {
    border: 1px solid #dadada;
    width: 28em;
}

.left-side-label {
    width: 12em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}

.left-side-label-4em {
    width: 4em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}

.status-message {
    font-size: 10pt;
    color: red;
}
