.col-sm-8, .col-sm-4 {
  padding-left: 30px;
  padding-right: 30px; }

#status-box {
  text-align: center; }

#ocean-box #warning-alert {
  display: none;
  position: relative;
  top: 50px;
  margin: 0 auto;
  text-align: center; }
#ocean-box #costs-box {
  position: relative; }
  #ocean-box #costs-box div {
    text-align: center;
    display: inline-block; }

#control-box .col-lg-4 {
  padding-left: 5px;
  padding-right: 5px; }
  #control-box .col-lg-4 button {
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold; }

#fishers-box table thead th {
  white-space: nowrap;
  vertical-align: top; }
  #fishers-box table thead th img {
    float: left;
    margin-right: 5px; }
  #fishers-box table thead th p {
    overflow: hidden; }
#fishers-box table tbody tr {
  display: none;
  font-weight: bold; }
  #fishers-box table tbody tr td img {
    float: left;
    margin-right: 5px; }
  #fishers-box table tbody tr td p {
    overflow: hidden; }
#fishers-box table tbody tr#f0 {
  background-color: #d9edf7; }
  #fishers-box table tbody tr#f0 td {
    background-color: #d9edf7; }

.modal button {
  display: block;
  margin: 0 auto; }
.modal .modal-footer {
  margin-top: 0; }

@media (min-width: 768px) {
  .col-sm-4 {
    margin-top: 20px; } }
