.info-label {
    text-align: left;
    display: inline-block;
    font-weight: normal;
    font-size: 8pt;
}

.costs-label {
    text-align: right;
    display: inline-block;
    font-weight: normal;
    font-size: 9pt;
    margin-bottom: 0px;
}

.fisher-label {
    font-weight: normal;
}

#status-box {
    display: inline-block;
    height: 70px;
}

#warning-box {
    display: inline-block;
    height: 70px;
}

#ocean-box {
    width: 702px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#ocean-background {
    background-color: rgb(150, 200, 230);
}

#ocean-canvas {
    border: 2px solid darkcyan;
}

#control-box {
    display: inline-block;
    height: 82px;
}

#costs-bpx {
    height: 82px;
}
.btn {
    margin-top: 20px;
}

.btn-toolbar {
    margin-left: 0px;
}

.box {
    border: 1px solid darkgray;
}

.left-col {
    min-width: 702px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

#fisher-header {
    width: 120px;
}

.data-header {
    width: 50px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 4px;
}

.fisher-row {
    display: none;
}
