.col-sm-8, .col-sm-4 {
  padding-left: 30px;
  padding-right: 30px; }

#status-box {
  text-align: center; }

#ocean-box #warning-alert {
  display: none;
  position: relative;
  top: 50px;
  margin: 0 auto;
  text-align: center; }
#ocean-box #costs-box {
  position: relative; }
  #ocean-box #costs-box div {
    text-align: center;
    display: inline-block; }

#control-box .col-lg-4 {
  padding-left: 5px;
  padding-right: 5px; }
  #control-box .col-lg-4 button {
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold; }
  #control-box .col-lg-4 .btn-changeLocation {
    background-color: #03A9F4;
    border-color: #03A9F4;
    color: #FFFFFF; }
    #control-box .col-lg-4 .btn-changeLocation:hover, #control-box .col-lg-4 .btn-changeLocation:focus, #control-box .col-lg-4 .btn-changeLocation:active {
      background-color: #0286c2;
      border-color: #0286c2; }
    #control-box .col-lg-4 .btn-changeLocation:disabled {
      background-color: #B3E5FC;
      border-color: #B3E5FC; }
  #control-box .col-lg-4 .btn-fish {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: #FFFFFF; }
    #control-box .col-lg-4 .btn-fish:hover, #control-box .col-lg-4 .btn-fish:focus, #control-box .col-lg-4 .btn-fish:active {
      background-color: #3d8b40;
      border-color: #3d8b40; }
    #control-box .col-lg-4 .btn-fish:disabled {
      background-color: #6ec071;
      border-color: #6ec071; }
  #control-box .col-lg-4 .btn-pause {
    background-color: #0288D1;
    border-color: #0288D1;
    color: #FFFFFF; }
    #control-box .col-lg-4 .btn-pause:hover, #control-box .col-lg-4 .btn-pause:focus, #control-box .col-lg-4 .btn-pause:active {
      background-color: #02679e;
      border-color: #02679e; }
    #control-box .col-lg-4 .btn-pause:disabled {
      background-color: #09a7fd;
      border-color: #09a7fd; }

#fishers-box table thead th {
  white-space: nowrap;
  vertical-align: top; }
  #fishers-box table thead th img {
    float: left;
    margin-right: 5px; }
  #fishers-box table thead th p {
    overflow: hidden; }
#fishers-box table tbody tr {
  display: none;
  font-weight: bold; }
  #fishers-box table tbody tr td img {
    float: left;
    margin-right: 5px; }
  #fishers-box table tbody tr td p {
    overflow: hidden; }
#fishers-box table tbody tr#f0 {
  background-color: #d9edf7; }
  #fishers-box table tbody tr#f0 td {
    background-color: #d9edf7; }

.modal button {
  display: block;
  margin: 0 auto; }
.modal .modal-footer {
  margin-top: 0; }

@media (min-width: 768px) {
  .col-sm-4 {
    margin-top: 20px; } }
