
.icon-fish:before { content: '\e800'; } /* '' */
.icon-spin:before { content: '\e801'; } /* '' */
.icon-download:before { content: '\e802'; } /* '' */
.icon-waves:before { content: '\e803'; } /* '' */
.icon-waves-outline:before { content: '\e804'; } /* '' */
.icon-lighthouse:before { content: '\e805'; } /* '' */
.icon-ship:before { content: '\e806'; } /* '' */
.icon-fish-hook:before { content: '\e807'; } /* '' */